{% extends "base.html" %}
{% block title %}Bad-USB{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='/js/own/search_payloads.js') }}"></script>
{% endblock %}

{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PwnServer Interface</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;
            }

            th, td {
                padding: 10px;
                text-align: left;
            }
        </style>
    </head>
    <body>
    <h1>Welcome to PwnServer</h1>

    <!-- Eingabeform für Ducky Script Payload -->
    <h2>Execute a Ducky Script Payload</h2>
    <form action="/execute" method="post">
        <label for="payload">Enter Ducky Script Payload:</label><br>
        <textarea name="payload" rows="10" cols="50" placeholder="Enter Ducky Script Payload"></textarea><br>
        <input type="submit" value="Execute Payload">
    </form>

    <!-- Upload eines neuen Payloads -->
    <h2>Upload a New Payload</h2>
    <form action="/upload" method="post">
        <input type="text" name="name" placeholder="Payload Name" required><br>
        <textarea name="payload" rows="10" cols="50" placeholder="Enter Ducky Script Payload"></textarea><br>
        <input type="submit" value="Save Payload">
    </form>

    <!-- Suche und Anzeige gespeicherter Payloads -->
    <h2>Saved Payloads</h2>
    <input type="text" id="searchInput" onkeyup="searchPayload()" placeholder="Search for payloads...">
    <br><br>

    <table id="payloadTable">
        <thead>
        <tr>
            <th>Payload Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Liste gespeicherter Payloads -->
        {% for payload in payloads %}
            <tr>
                <td>{{ payload }}</td>
                <td>
                    <form action="/execute_saved/{{ payload }}" method="post" style="display:inline;">
                        <input type="submit" value="Execute">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}