<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
     aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Where to go?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <div class="list-group">
                <a href="{{ url_for('core.index') }}" class="list-group-item list-group-item-action">Home</a>
{#                <a href="{{ url_for('users.show_user') }}" class="list-group-item list-group-item-action">Edit Users</a>#}
{#                <a href="{{ url_for('items.index') }}" class="list-group-item list-group-item-action">Items Index</a>#}
{#                <a href="{{ url_for('project_groups.index') }}" class="list-group-item list-group-item-action">Project Groups</a>#}
{#                <a href="{{ url_for('projects.index') }}" class="list-group-item list-group-item-action">Projects</a>#}
{#                <hr/>#}
{#                <a href="{{ url_for('users.login') }}" class="list-group-item list-group-item-action">Login</a>#}
{#                <a href="{{ url_for('users.logout') }}" class="list-group-item list-group-item-action">Logout</a>#}
        </div>
    </div>
</div>